---
import Legal from '../layouts/Legal.astro';
---

<Legal title="Legal" lastUpdated="March 23, 2026">
  <ul>
    <li><a href="privacy">Privacy Policy</a></li>
    <li><a href="terms">Terms of Use</a></li>
  </ul>
</Legal>
